pkgbase = opera
	pkgdesc = A fast and secure web browser and Internet suite.
	pkgver = 30.0.1835.59
	pkgrel = 1
	url = http://www.opera.com/
	install = opera.install
	arch = x86_64
	license = custom:opera
	depends = gtk2
	depends = desktop-file-utils
	depends = shared-mime-info
	depends = libxtst
	depends = gconf
	depends = libxss
	depends = gcc-libs
	depends = alsa-lib
	depends = nss
	depends = freetype2
	depends = ttf-font
	optdepends = curl: opera crash reporter and autoupdate checker
	optdepends = ffmpeg: playback of proprietary formats
	options = !strip
	options = !zipman
	backup = etc/opera/default
	source = opera
	source = default
	sha256sums = 508512464e24126fddfb2c41a1e2e86624bdb0c0748084b6a922573b6cf6b9c5
	sha256sums = 4913d97dec0ddc99d1e089b029b9123c2c86b7c88d631c4d1111b119b09da027
	source_x86_64 = http://get.geo.opera.com/pub/opera/desktop/30.0.1835.59/linux/opera-stable_30.0.1835.59_amd64.deb
	sha256sums_x86_64 = ee51e4f49afae9662e742c30c99b5737c990ec2e57f2bd6f04205ce8d51268e3

pkgname = opera

