pkgbase = opera
	pkgdesc = A fast and secure web browser
	pkgver = 34.0.2036.25
	pkgrel = 1
	url = http://www.opera.com/
	install = opera.install
	arch = x86_64
	license = custom:opera
	depends = gtk2
	depends = desktop-file-utils
	depends = shared-mime-info
	depends = libxtst
	depends = gconf
	depends = libxss
	depends = alsa-lib
	depends = nss
	depends = ttf-font
	depends = libnotify
	optdepends = curl: opera crash reporter and autoupdate checker
	optdepends = opera-ffmpeg-codecs: playback of proprietary video/audio
	options = !strip
	options = !zipman
	backup = etc/opera/default
	source = opera
	source = default
	sha256sums = 508512464e24126fddfb2c41a1e2e86624bdb0c0748084b6a922573b6cf6b9c5
	sha256sums = 4913d97dec0ddc99d1e089b029b9123c2c86b7c88d631c4d1111b119b09da027
	source_x86_64 = http://get.geo.opera.com/pub/opera/desktop/34.0.2036.25/linux/opera-stable_34.0.2036.25_amd64.deb
	sha256sums_x86_64 = ae4933f0df63b920f79ce6063b48ebcd7f3cf2bcdbde13dc410c4fe24bcf1447

pkgname = opera

