pkgbase = opera
	pkgdesc = A fast and secure web browser
	pkgver = 31.0.1889.99
	pkgrel = 2
	url = http://www.opera.com/
	install = opera.install
	arch = x86_64
	license = custom:opera
	depends = gtk2
	depends = desktop-file-utils
	depends = shared-mime-info
	depends = libxtst
	depends = gconf
	depends = libxss
	depends = alsa-lib
	depends = nss
	depends = ttf-font
	depends = libnotify
	optdepends = curl: opera crash reporter and autoupdate checker
	options = !strip
	options = !zipman
	backup = etc/opera/default
	source = opera
	source = default
	sha256sums = 508512464e24126fddfb2c41a1e2e86624bdb0c0748084b6a922573b6cf6b9c5
	sha256sums = 4913d97dec0ddc99d1e089b029b9123c2c86b7c88d631c4d1111b119b09da027
	source_x86_64 = http://get.geo.opera.com/pub/opera/desktop/31.0.1889.99/linux/opera-stable_31.0.1889.99_amd64.deb
	sha256sums_x86_64 = 51dc961957cd1b7169c6922f5433feee2320300f7c52f96bf349fa478b2b9745

pkgname = opera

